Repository mozilla/bergamot-training, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla/firefox-translations, @mozilla/translations-training, @mozilla/translations-inference, @mozilla/releng

temp: import GPU workers on generic worker patch
  taskcluster/config.yml
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

add beetmover worker type
  taskcluster/config.yml
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/workertypes.py
Owners: @mozilla/releng, @mozilla/translations-training

Enable chain of trust on tasks that will be upstream of beetmover
  .taskcluster.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

chain-of-trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Owners: @mozilla/releng, @mozilla/translations-training

add beetmover task
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
Owners: @mozilla/releng, @mozilla/translations-training

temp: use beetmover dev workers
  taskcluster/config.yml
Owners: @mozilla/releng, @mozilla/translations-training

temp: disable beetmover dry run
  taskcluster/kinds/beetmover/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

Fix case where base_ref may evaluate to multiple values in .taskcluster.yml
  .taskcluster.yml
Owners: @mozilla/releng, @mozilla/translations-training

temp: remove currently broken dataset
  taskcluster/configs/config.ci.yml
Owners: @mozilla/releng, @mozilla/translations-training

temp: bust base docker image cache to force all tasks to have CoT artifacts
  taskcluster/docker/base/Dockerfile
Owners: @mozilla/releng, @mozilla/translations-training

fix: use new repo name as project name
  taskcluster/config.yml
Owners: @mozilla/releng, @mozilla/translations-training

Do an initial save that removes trailing spaces
  README.md
Owners: @mozilla/firefox-translations

Update the docs to include more links
  README.md
Owners: @mozilla/firefox-translations

enable cache for ~/.cache
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

Switch GPU tasks to run within docker
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

switch GPU workers to d2g images
  taskcluster/config.yml
Owners: @mozilla/releng, @mozilla/translations-training

fix: add 'requests' to ctranslate2 requirements
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
Owners: @mozilla/translations-training

bump cuda version to match the version on new worker image
  taskcluster/kinds/fetch/toolchains.yml
Owners: @mozilla/releng, @mozilla/translations-training

install cuda and friends in train Dockerfile
  taskcluster/docker/train/Dockerfile
Owners: @mozilla/releng, @mozilla/translations-training

install the same version of cuda as new worker image
  taskcluster/docker/train/Dockerfile
Owners: @mozilla/releng, @mozilla/translations-training

install the same version of cuda as new worker image
  taskcluster/docker/train/Dockerfile
Owners: @mozilla/releng, @mozilla/translations-training

don't install cuda/cudnn on train image; use cuda-toolkit toolchain instead
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

fix reference to decoder.yml in evaluate-quantize
  taskcluster/kinds/evaluate-quantized/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

switch GPU workers to d2g images
  taskcluster/config.yml
Owners: @mozilla/releng, @mozilla/translations-training

Switch GPU tasks to run within docker
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

pull in cuda-toolkit in GPU tasks to make necessary libraries available
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

enable cache for ~/.cache
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

fix: add 'requests' to ctranslate2 requirements
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
Owners: @mozilla/translations-training

chain-of-trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Owners: @mozilla/releng, @mozilla/translations-training

Enable chain of trust on tasks that will be upstream of beetmover
  .taskcluster.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

Add beetmover worker type
  taskcluster/config.yml
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/workertypes.py
Owners: @mozilla/releng, @mozilla/translations-training

temp: use beetmover dev workers
  taskcluster/config.yml
Owners: @mozilla/releng, @mozilla/translations-training

beetmover task
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
Owners: @mozilla/releng, @mozilla/translations-training

temp: disable beetmover dry run
  taskcluster/kinds/beetmover/kind.yml
Owners: @mozilla/releng, @mozilla/translations-training

bust cache
  taskcluster/docker/base/Dockerfile
Owners: @mozilla/releng, @mozilla/translations-training

.github/CODEOWNERS:

# Firefox Translations review group
.dockerignore @mozilla/firefox-translations
.github @mozilla/firefox-translations
.gitignore @mozilla/firefox-translations
.gitmodules @mozilla/firefox-translations
docker @mozilla/firefox-translations
docs @mozilla/firefox-translations
utils @mozilla/firefox-translations
CODE_OF_CONDUCT.md @mozilla/firefox-translations
LICENSE @mozilla/firefox-translations
poetry.lock @mozilla/firefox-translations
pyproject.toml @mozilla/firefox-translations
README.md @mozilla/firefox-translations
Taskfile.yml @mozilla/firefox-translations

# Translations Training review group
configs @mozilla/translations-training
pipeline @mozilla/translations-training
snakemake @mozilla/translations-training
tests @mozilla/translations-training
tracking @mozilla/translations-training

# Translations Inference review group
inference-engine @mozilla/translations-inference

# Taskcluster pipeline related files. Changes to these ought to be reviewed by
# RelEng to watch for security issues and best practices. These should also
# be reviewed by people familiar with the pipeline itself.
.taskcluster.yml @mozilla/releng @mozilla/translations-training
taskcluster @mozilla/releng @mozilla/translations-training
